[Unit]
Description=Plexamp NFC Listener
After=network.target

[Service]
ExecStart=/home/andy/Plexamp-NFC-Listener/venv/bin/python /home/andy/Plexamp-NFC-Listener/nfc_listener.py
WorkingDirectory=/home/andy/Plexamp-NFC-Listener
Restart=always
User=andy
Group=andy

[Install]
WantedBy=multi-user.target